extends layout

block content
  h1= title

  table
    thead
        th SSID
        th MAC
        th Level
        th Channel
    tbody
        for network in networks
            tr
                td=network.ssid
                td=network.mac
                td=network.signal_level
                td=network.channel
