extends layout

block content
  h1= title

  table
    thead
        th SSID
        th Channel
        th Level
        th MAC
        th Manufacturer
    tbody
        for row in data
            tr
                td=row.network.ssid                
                td=row.network.channel
                td=row.network.signal_level
                td=row.network.mac
                td=row.manufacturer